################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/boot/build/appboot.elf.map
/source/boot/build
/source/boot/appboot.elf
/source/boot/appboot.dol
